
@page "/ClientPresentation"
@using AfiliacionesCirsa.ViewModels

<link rel="stylesheet" href="/css/navbar.css" />


<div class="animated-background">
    <div class="mensaje-bienvenida">

        <h1>¡Has ingresado correctamente con el enlace de afiliado! Por si esto fuera real; Bienvenido a nuestra plataforma.</h1>
    </div>
</div>
