
:root {
    --dark-black: #1a171b;
    --light-black: #58585a;
    --dark-grey: #9c9e9f;
    --light-grey: #c6c7c8;
    --bg-grey: #e3e4e4;
    --strong-yellow: #eab730;
    --secondary-button: #b88d29;
    --dark-yellow: #aa8128;
}
